body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    line-height: 1.6;
    margin-bottom: 1em;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 1em;
}

.image-gallery img {
    width: 100%;
    max-width: 1280px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sticky-button {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 1rem;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

.button-link {
    text-decoration: none;
    background-color: #FB127F;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* Added border-radius transition */
}

.button-link:hover {
    background-color: #ff6ee0;
    border-radius: 15px; /* Increased border-radius on hover */
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    /* border-bottom: 1px solid #ddd; */
  }
  
  .navbar a {
    text-decoration: none;
    color: #FB127F;
    margin: 0 10px;
  }
  
  .nav-left{
    font-weight: bold;
  }

  .navbar a {
  text-decoration: none;
  color: #FB127F;
  margin: 0 10px;
  position: relative;
  font-weight: bold;
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Position the underline just below the text */
  width: 0; /* Start with no width */
  height: 2px; /* Thickness of the underline */
  background-color: #FB127F;
  transition: width 0.3s ease-in-out; /* Smooth animation */
}

.navbar a:hover::after {
  width: 100%; /* Expand the underline to full width on hover */
}
